In [91]:
import pandas as pd
import numpy as np

In [29]:
pv = 'data-set/personal_valid.csv'
ov = 'data-set/other_valid.csv'

In [30]:
dfp = pd.read_csv(pv)
dfo = pd.read_csv(ov)

Premenuje unnamed stlpec na 'ID'

In [182]:
dfp = dfp.rename(columns={'Unnamed: 0': 'ID'})
dfo = dfo.rename(columns={'Unnamed: 0': 'ID'})

# Pocet zaznamov

Zisti pocet zaznamov v personal a other

In [203]:
print(f"Personal: {len(dfp)}")
print(f"Other: {len(dfo)}")

Personal: 1311
Other: 1361

Zisti kolko mame rovnakych mien v personal a other

In [247]:
print(f"Personal: {len(dfp[dfp.duplicated(['name'], keep=False)])}")
dfo_duplicates = dfo[dfo.duplicated(['name'], keep=False)]
print(f"Other: {len(dfo_duplicates)}")

Personal: 0
Other: 99

Pri duplikatoch sa moze stat ze jeden zaznam ma hodnoty ktore druhemu chybaju

In [249]:
dfo_duplicates.loc[dfo_duplicates['name'] == dfo_duplicates.iloc[0]['name']]

,ID,name,address,race,marital-status,occupation,pregnant,education-num,relationship,skewness_glucose,...,education,fnlwgt,class,std_glucose,income,medical_info,native-country,hours-per-week,capital-loss,workclass
2,2,Jon Gerry,"2255 Hopkins Garden\r\nSouth Alexandra, MD 39636",White,Never-married,Other-service,f,900.0,Own-child,2.565507,...,HS-grad,133055.0,0.0,35.322467,<=50K,"{'mean_oxygen':'2.112876254','std_oxygen':'15....",United-States,30.0,0.0,Private
394,394,Jon Gerry,"2255 Hopkins Garden\r\nSouth Alexandra, MD 39636",NaN,NaN,NaN,f,NaN,Own-child,2.565507,...,HS-grad,133055.0,0.0,NaN,NaN,"{'mean_oxygen':'2.112876254','std_oxygen':'15....",United-States,30.0,0.0,Private

Tuto sme zistili ze zaznamy s rovnakym menom vieme spojit do jedneho, pretoze nikdy sa nestane ze v jednom stlpci maju viac ako 2 rozne hodnoty, pricom jedna z nich je vzdy None alebo su rovnake.

In [333]:
def mergeable():
    unique_names = dfo_duplicates['name'].unique()
    for name in unique_names:
        duplicates = dfo_duplicates.loc[dfo_duplicates['name'] == name]
        for col in duplicates.columns:
            if col == 'ID':
                continue
            values = duplicates[col].unique()
            if len(values) > 2:
                return False
            elif len(values) == 1:
                continue
            else:
                if pd.isnull(values[0]) or pd.isnull(values[1]):
                    continue
    return True
            
mergeable()

True

Kazdu skupinu duplikatnych zaznamov spojime do jedneho zaznamu a pridame k unikatnym zaznamom.

In [361]:
def merge(name):
    df = dfo_duplicates.loc[dfo_duplicates['name'] == name]
    return df.groupby(['name'], as_index=False).first()

dfo_unique = dfo.drop_duplicates(subset=["name"], keep=False)
merged = []

unique_names = dfo_duplicates['name'].unique()
for name in unique_names:
    merged.append(merge(name))
    
dfo_unique = dfo_unique.append(merged)

**Zistime ci novovzniknuty dataset vieme spojit s personal datasetom**

Velkost datasetov je rovnaka

In [373]:
len(dfo_unique) == len(dfp)

True

Kazde meno z personal sa nachadza v novovzniknutom datasete

In [375]:
def compare_names():
    dfp_names = list(dfp['name'])
    for name in list(dfo_unique['name']):
        if name not in dfp_names:
            return False
    return True

compare_names()

True

# Pocet atributov

In [192]:
print(f'Personal: {len(dfp.columns)}')
print(f'Other: {len(dfo.columns)}')

Personal: 6
Other: 23

Pocet unikatnych atributov v personal a other

In [194]:
len(np.setdiff1d(list(dfp), list(dfo))) + len(dfo.columns)

26

Typy atributov

In [224]:
dfp.dtypes
type(dfp['ID'][0])

ID                int64
name             object
address          object
age               int64
sex              object
date_of_birth    object
dtype: object

numpy.int64

Spoji podla mena a zisti duplikaty

In [117]:
df = pd.merge(dfp, dfo, on='name', how='left')
len(df[df.duplicated(['name', 'medical_info'], keep=False)])

71