In [91]:
import pandas as pd
import numpy as np

In [29]:
pv = 'data-set/personal_valid.csv'
ov = 'data-set/other_valid.csv'

In [30]:
dfp = pd.read_csv(pv)
dfo = pd.read_csv(ov)

Premenuje unnamed stlpec na 'ID'

In [182]:
dfp = dfp.rename(columns={'Unnamed: 0': 'ID'})
dfo = dfo.rename(columns={'Unnamed: 0': 'ID'})

**Pocet zaznamov**

Zisti pocet zaznamov v personal a other

In [203]:
print(f"Personal: {len(dfp)}")
print(f"Other: {len(dfo)}")

Personal: 1311
Other: 1361

Zisti kolko mame rovnakych mien v personal a other

In [216]:
print(f"Personal: {len(dfp[dfp.duplicated(['name'], keep=False)])}")
print(f"Other: {len(dfo[dfo.duplicated(['name'], keep=False)])}")

Personal: 0
Other: 99

Zisti pocet zaznamov s rovnakym menom a medical_info v other

In [159]:
dfo_duplicates = dfo[dfo.duplicated(['name', 'medical_info'], keep=False)]
len(dfo_duplicates)

71

Pri duplikatoch sa moze stat ze jeden zaznam ma hodnoty ktore druhemu chybaju

In [62]:
dfo_duplicates.loc[dfo_duplicates['name'] == 'Jon Gerry']

,Unnamed: 0,name,address,race,marital-status,occupation,pregnant,education-num,relationship,skewness_glucose,...,education,fnlwgt,class,std_glucose,income,medical_info,native-country,hours-per-week,capital-loss,workclass
2,2,Jon Gerry,"2255 Hopkins Garden\r\nSouth Alexandra, MD 39636",White,Never-married,Other-service,f,900.0,Own-child,2.565507,...,HS-grad,133055.0,0.0,35.322467,<=50K,"{'mean_oxygen':'2.112876254','std_oxygen':'15....",United-States,30.0,0.0,Private
394,394,Jon Gerry,"2255 Hopkins Garden\r\nSouth Alexandra, MD 39636",NaN,NaN,NaN,f,NaN,Own-child,2.565507,...,HS-grad,133055.0,0.0,NaN,NaN,"{'mean_oxygen':'2.112876254','std_oxygen':'15....",United-States,30.0,0.0,Private

**Pocet atributov**

In [192]:
print(f'Personal: {len(dfp.columns)}')
print(f'Other: {len(dfo.columns)}')

Personal: 6
Other: 23

Pocet unikatnych atributov v personal a other

In [194]:
len(np.setdiff1d(list(dfp), list(dfo))) + len(dfo.columns)

26

Spoji podla mena a zisti duplikaty

In [117]:
df = pd.merge(dfp, dfo, on='name', how='left')
len(df[df.duplicated(['name', 'medical_info'], keep=False)])

71