In [91]:
import pandas as pd
import numpy as np

In [29]:
pv = 'data-set/personal_valid.csv'
ov = 'data-set/other_valid.csv'

In [30]:
dfp = pd.read_csv(pv)
dfo = pd.read_csv(ov)

Premenuje unnamed stlpec na 'ID'

In [182]:
dfp = dfp.rename(columns={'Unnamed: 0': 'ID'})
dfo = dfo.rename(columns={'Unnamed: 0': 'ID'})

# Pocet zaznamov

Zisti pocet zaznamov v personal a other

In [203]:
print(f"Personal: {len(dfp)}")
print(f"Other: {len(dfo)}")

Personal: 1311
Other: 1361

Zisti kolko mame rovnakych mien v personal a other

In [247]:
print(f"Personal: {len(dfp[dfp.duplicated(['name'], keep=False)])}")
dfo_duplicates = dfo[dfo.duplicated(['name'], keep=False)]
print(f"Other: {len(dfo_duplicates)}")

Personal: 0
Other: 99

Pri duplikatoch sa moze stat ze jeden zaznam ma hodnoty ktore druhemu chybaju

In [249]:
dfo_duplicates.loc[dfo_duplicates['name'] == dfo_duplicates.iloc[0]['name']]

,ID,name,address,race,marital-status,occupation,pregnant,education-num,relationship,skewness_glucose,...,education,fnlwgt,class,std_glucose,income,medical_info,native-country,hours-per-week,capital-loss,workclass
2,2,Jon Gerry,"2255 Hopkins Garden\r\nSouth Alexandra, MD 39636",White,Never-married,Other-service,f,900.0,Own-child,2.565507,...,HS-grad,133055.0,0.0,35.322467,<=50K,"{'mean_oxygen':'2.112876254','std_oxygen':'15....",United-States,30.0,0.0,Private
394,394,Jon Gerry,"2255 Hopkins Garden\r\nSouth Alexandra, MD 39636",NaN,NaN,NaN,f,NaN,Own-child,2.565507,...,HS-grad,133055.0,0.0,NaN,NaN,"{'mean_oxygen':'2.112876254','std_oxygen':'15....",United-States,30.0,0.0,Private

Tuto sme zistili ze zaznamy s rovnakym menom vieme spojit do jedneho, pretoze nikdy sa nestane ze v jednom stlpci maju viac ako 2 rozne hodnoty, pricom jedna z nich je vzdy None alebo su rovnake.

In [333]:
def mergeable():
    unique_names = dfo_duplicates['name'].unique()
    for name in unique_names:
        duplicates = dfo_duplicates.loc[dfo_duplicates['name'] == name]
        for col in duplicates.columns:
            if col == 'ID':
                continue
            values = duplicates[col].unique()
            if len(values) > 2:
                return False
            elif len(values) == 1:
                continue
            else:
                if pd.isnull(values[0]) or pd.isnull(values[1]):
                    continue
    return True
            
mergeable()

True

Kazdu skupinu duplikatnych zaznamov spojime do jedneho zaznamu a pridame k unikatnym zaznamom.

In [361]:
def merge(name):
    df = dfo_duplicates.loc[dfo_duplicates['name'] == name]
    return df.groupby(['name'], as_index=False).first()

dfo_unique = dfo.drop_duplicates(subset=["name"], keep=False)
merged = []

unique_names = dfo_duplicates['name'].unique()
for name in unique_names:
    merged.append(merge(name))
    
dfo_unique = dfo_unique.append(merged)

**Zistime ci novovzniknuty dataset vieme spojit s personal datasetom**

Velkost datasetov je rovnaka

In [373]:
len(dfo_unique) == len(dfp)

True

Zistime ci sa nachadzaju v novovzniknutej tabulke duplikaty

In [380]:
len(dfo_unique[dfo_unique.duplicated(['name'], keep=False)]) > 0

False

Kazde meno z personal sa nachadza v novovzniknutom datasete

In [375]:
def compare_names():
    dfp_names = list(dfp['name'])
    for name in list(dfo_unique['name']):
        if name not in dfp_names:
            return False
    return True

compare_names()

True

Spojime ho s personal

In [421]:
df = pd.merge(dfp, dfo_unique, on='name')

Pocet atributov je vacsi ako sme ocakavali to znamena ze tam mame niektore atributy viac krat

In [385]:
len(df.columns)

28

Jedna sa o ID a adresu

In [388]:
df.columns

Index(['ID_x', 'name', 'address_x', 'age', 'sex', 'date_of_birth', 'ID_y',
       'address_y', 'race', 'marital-status', 'occupation', 'pregnant',
       'education-num', 'relationship', 'skewness_glucose', 'mean_glucose',
       'capital-gain', 'kurtosis_glucose', 'education', 'fnlwgt', 'class',
       'std_glucose', 'income', 'medical_info', 'native-country',
       'hours-per-week', 'capital-loss', 'workclass'],
      dtype='object')

Zistime ci sa adresy z personal rovnaju adresam z other

In [409]:
df['address_x'].equals(df['address_y'])

True

Kedze sa rovnaju tak jedny zahodime spolu s ID z other

In [422]:
df = df.drop(columns=['address_y', 'ID_y'])
df = df.rename(columns={"ID_x": "ID", "address_x": "address"})

# Pocet atributov

In [192]:
print(f'Personal: {len(dfp.columns)}')
print(f'Other: {len(dfo.columns)}')

Personal: 6
Other: 23

Pocet unikatnych atributov v personal a other

In [425]:
len(np.setdiff1d(list(dfp), list(dfo))) + len(dfo.columns)

26

### Typy atributov

Vidime ze typy su int64, float64 a ostatne su objekty(pravdepodobne preto ze to su stringy a maju roznu dlzku). Tak isto vidime ze hodnoty v niektorych zaznamoch chybaju.

In [427]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1311 entries, 0 to 1310
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                1311 non-null   int64
 1   name              1311 non-null   object
 2   address           1311 non-null   object
 3   age               1311 non-null   int64
 4   sex               1311 non-null   object
 5   date_of_birth     1311 non-null   object
 6   race              1309 non-null   object
 7   marital-status    1226 non-null   object
 8   occupation        1311 non-null   object
 9   pregnant          1311 non-null   object
 10  education-num     1180 non-null   float64
 11  relationship      1310 non-null   object
 12  skewness_glucose  1310 non-null   float64
 13  mean_glucose      1311 non-null   float64
 14  capital-gain      1308 non-null   float64
 15  kurtosis_glucose  1311 non-null   float64
 16  education         1311 non-null   object
 17  fnlwgt            1310 non-null   float64
 18  class             1310 non-null   float64
 19  std_glucose       1310 non-null   float64
 20  income            1310 non-null   object
 21  medical_info      1310 non-null   object
 22  native-country    1311 non-null   object
 23  hours-per-week    1311 non-null   float64
 24  capital-loss      1311 non-null   float64
 25  workclass         1309 non-null   object
dtypes: float64(10), int64(2), object(14)
memory usage: 316.5+ KB

Tuto vidime ktore atributy v sebe Null hodnoty

In [452]:
df.isnull().sum()

ID                    0
name                  0
address               0
age                   0
sex                   0
date_of_birth         0
race                  2
marital-status       85
occupation            0
pregnant              0
education-num       131
relationship          1
skewness_glucose      1
mean_glucose          0
capital-gain          3
kurtosis_glucose      0
education             0
fnlwgt                1
class                 1
std_glucose           1
income                1
medical_info          1
native-country        0
hours-per-week        0
capital-loss          0
workclass             2
dtype: int64

**ID**

V stlpci ID su cisla pricom su unikatne a stupaju (cize nemame pomiesane poradie udajov)

In [467]:
df['ID'].describe()

count    1311.000000
mean      655.000000
std       378.597412
min         0.000000
25%       327.500000
50%       655.000000
75%       982.500000
max      1310.000000
Name: ID, dtype: float64

In [435]:
(df['ID'].is_monotonic_increasing and df['ID'].is_unique)

True

**Address**

In [510]:
df['address'].describe()
list(df['address'].unique())

count                                               1311
unique                                              1311
top       6860 Mark Square\r\nNew Michealville, HI 42905
freq                                                   1
Name: address, dtype: object

['7910 Rosales Plain Apt. 454\r\nPort Carl, GA 69839',
 '055 Morgan Plains Suite 225\r\nEast Darrylmouth, KS 41706',
 'PSC 7359, Box 2088\r\nAPO AE 62717',
 'USS Allen\r\nFPO AP 87677',
 '491 Fields Key Suite 544\r\nGracestad, MT 13456',
 '1989 Dylan Inlet Apt. 862\r\nCoreystad, MA 30654',
 'Unit 7145 Box 9167\r\nDPO AA 86245',
 '741 Alvarez Village Suite 345\r\nNew Stephanie, ME 59101',
 '149 Parker Tunnel\r\nRyanside, VA 94814',
 '08244 Burton Junctions Suite 409\r\nScottmouth, ID 37801',
 '44759 Michael Crossing\r\nChapmanfurt, SC 23735',
 '81395 Aguilar Mission Suite 404\r\nNew Caitlin, IA 75654',
 '300 Robert Plaza Suite 415\r\nCastillostad, SC 54440',
 'Unit 6246 Box 4124\r\nDPO AE 49772',
 '721 Griffin Course Apt. 814\r\nNorth Josebury, MN 57980',
 '668 Leonard Spring Suite 947\r\nKathleenhaven, OK 49798',
 '34386 Shepard Lodge Apt. 889\r\nEast Erin, RI 48702',
 '47716 Reynolds Tunnel Suite 466\r\nSouth Joshuatown, NH 92502',
 '396 Nguyen Row\r\nGarrettberg, CT 57382',
 '10243 Williams Flats\r\nLongshire, OR 37126',
 '4433 Ryan Courts\r\nDonnamouth, DE 83886',
 '160 Taylor Gardens\r\nPort Brian, MO 75116',
 '0439 Baker Course\r\nBurkechester, CT 11984',
 '257 Tyler Creek Suite 312\r\nWatsonmouth, MI 03049',
 '4187 Karen Via Suite 438\r\nKellyberg, WI 22338',
 '23338 Anthony Radial Apt. 750\r\nLake Erik, WA 74958',
 'PSC 5491, Box 5970\r\nAPO AE 70688',
 '14807 Butler Springs\r\nNicholasbury, WY 45512',
 '2286 Phillips Squares Suite 449\r\nJamesberg, ID 69649',
 '053 Maria Freeway\r\nCortezfurt, NC 14978',
 '5770 Lori Land\r\nNorth Philipmouth, WV 05787',
 '3628 Reese Haven\r\nSouth Melissaside, GA 83688',
 '99338 Raymond Junction\r\nLake Edwardmouth, MA 26182',
 '441 Monroe Prairie Apt. 973\r\nWest Ruth, RI 70508',
 '7188 Murray Parkways Apt. 495\r\nBlackburnhaven, MA 93953',
 '23110 Brooks Rapid Suite 473\r\nLake Katieport, NC 23392',
 '6704 Jon Valley\r\nSouth Stanleyland, MT 39326',
 '1950 Michael Bridge\r\nStewartton, NH 60931',
 '1148 Kelly Plains\r\nNorth Amyport, NY 00741',
 '52106 Bailey Walk\r\nBeckerhaven, CA 93435',
 '258 Regina Ways Apt. 737\r\nMichaelchester, OR 12247',
 '1476 Michael Springs\r\nNew Mary, GA 98764',
 '9072 Charles Burg Apt. 032\r\nShannonburgh, NY 81030',
 'PSC 1057, Box 0591\r\nAPO AE 69779',
 '33646 Adams Ford\r\nNorth Christina, TN 05065',
 '4787 Nichole Extensions\r\nJacobborough, AZ 29271',
 '71999 Reynolds Track\r\nPort Thomas, NM 41767',
 '700 Kathleen Skyway\r\nDavisborough, TX 47147',
 '9694 Anderson Tunnel Suite 144\r\nNorth Terrishire, AK 67579',
 '781 Amy Hills\r\nJosephview, NJ 50506',
 '021 Deborah Key Apt. 107\r\nWest Thomasstad, NC 28850',
 '0089 Calderon Hills\r\nEast Crystalfurt, AZ 17874',
 '218 Taylor Canyon Apt. 786\r\nHughestown, MI 70267',
 '72234 Johnson Fork\r\nLake Susan, AR 57445',
 '6467 Moore Ridge\r\nMontoyaland, KY 16716',
 '3013 Bryan Highway Suite 090\r\nNorth Robert, WI 51980',
 '5786 Morgan Summit Suite 870\r\nSouth Andrew, OR 95206',
 '9406 Desiree Rest\r\nSouth Laurafort, ME 72779',
 '42583 Michael Stream\r\nEast Jessicaberg, VA 52650',
 '31420 Tricia Drive Apt. 910\r\nJosephhaven, PA 86463',
 '6150 Thomas Junction\r\nPhyllisbury, IL 51403',
 'Unit 2803 Box 2151\r\nDPO AE 89583',
 '086 Angela Lock\r\nWest Stevenberg, NE 74070',
 '04400 Anthony Groves Apt. 118\r\nNorth Andrewton, NV 25978',
 '59947 Fischer Canyon Apt. 523\r\nNorth Sharon, GA 01215',
 '24507 John Road Suite 087\r\nKaylaland, AZ 93179',
 '669 Smith Courts\r\nPort Nathan, MT 17834',
 '12348 Ford Bypass\r\nPort Zacharyville, RI 36085',
 '7929 Kristy Dam Apt. 265\r\nNew Samuel, MS 93951',
 '032 Ortiz Heights\r\nWest Connie, WV 78338',
 '647 Davis Mountains\r\nGoodburgh, NC 06902',
 '10638 Yolanda Stravenue\r\nPort Moniqueberg, SD 61627',
 '2946 Montoya Vista\r\nBrendaburgh, IL 57934',
 '25535 Bird Rue\r\nHarrisfort, NJ 71162',
 '4416 Janet Mountain\r\nJasonhaven, NE 70316',
 '0151 Sarah Throughway\r\nEast Kaylaside, IA 43998',
 '33287 Moreno Falls\r\nSouth Ericaside, WV 31474',
 '1507 Seth Branch Apt. 091\r\nEast Edwardton, TN 28513',
 '862 Caitlin Loop Apt. 381\r\nRebeccaville, MI 84841',
 '8239 Bethany Canyon\r\nNew Gabrielstad, ID 27232',
 '44734 Bruce Burg\r\nJeremyland, NE 72793',
 '0080 Brooke Plaza Apt. 045\r\nMercadoview, NE 39624',
 'USCGC Jennings\r\nFPO AP 12644',
 'USS Campbell\r\nFPO AA 29413',
 '81911 Walker Mall Apt. 577\r\nPort Tara, SD 05299',
 '81903 Derrick Prairie Suite 019\r\nDonaldburgh, HI 14855',
 'Unit 0491 Box 7117\r\nDPO AP 92730',
 'PSC 8870, Box 1403\r\nAPO AA 95621',
 '5590 Anderson Lodge\r\nEast Sarah, MT 19400',
 'Unit 1526 Box 4192\r\nDPO AA 44118',
 '50848 Mckenzie Burg\r\nRobinsonfurt, IL 93979',
 'Unit 9984 Box 7757\r\nDPO AE 51043',
 '2549 Melissa Springs\r\nJoneston, KY 61291',
 '4132 Garcia Lake\r\nNorth Nancyside, MS 87804',
 '2236 Thompson Turnpike Suite 711\r\nSouth Aprilstad, NM 48743',
 '80719 Brandon Inlet\r\nWellsburgh, ID 59002',
 '0972 Alvarez Highway\r\nRoweberg, FL 72981',
 '842 Kirk Station\r\nMackenziemouth, OH 53152',
 '590 Thomas Rapids\r\nLake Mitchell, VT 78060',
 '505 Jennifer Stream\r\nNorth Crystal, CO 47539',
 '90354 Harrington Ridge\r\nPort Susanland, AZ 78824',
 'Unit 7200 Box 5026\r\nDPO AE 53944',
 'Unit 0738 Box 8109\r\nDPO AP 88183',
 'PSC 2320, Box 5305\r\nAPO AE 19630',
 '77206 Allen Mews\r\nNorth Jenniferberg, WY 51036',
 '159 French Ways\r\nWest Paul, CT 44122',
 '494 Chang Inlet Suite 982\r\nPort Lisachester, CO 71645',
 '046 Rodriguez Locks\r\nLake Deborah, AZ 22217',
 '4834 Kevin Ports\r\nPort Alexis, WY 43803',
 '660 Mathew Via Apt. 223\r\nWest Travis, WA 25312',
 '48507 Charles Ferry Suite 357\r\nEast Lauraport, UT 01457',
 '5011 Michael Street Suite 423\r\nChadfort, IL 94550',
 '08618 Bentley Union\r\nPort Monique, ID 98094',
 '51400 Montgomery Cape Apt. 356\r\nLake Chasefurt, LA 82797',
 '7974 Zachary Summit\r\nChavezton, MI 60414',
 'Unit 9476 Box 8527\r\nDPO AA 85990',
 '14910 James Fields Suite 996\r\nPort Jeanettemouth, WA 86207',
 'Unit 8205 Box 7782\r\nDPO AE 77530',
 '291 Matthew Course\r\nAlexandrabury, MD 51354',
 '5338 Hendrix Haven Suite 945\r\nNorth Jacob, AL 58368',
 '9262 Wallace Forges Suite 598\r\nThomasbury, MD 23580',
 'USNV Ferguson\r\nFPO AA 10117',
 'PSC 9384, Box 7091\r\nAPO AP 14660',
 'Unit 6895 Box 3683\r\nDPO AA 16647',
 '9350 Anderson Landing\r\nSouth Robertmouth, NV 19789',
 'USNS Castaneda\r\nFPO AE 49827',
 '4293 Amanda Drive\r\nHeathland, CT 67739',
 '097 Steven Heights\r\nNew Robert, UT 47823',
 '5185 Burton Viaduct Apt. 422\r\nAndrewberg, NY 45231',
 'PSC 4610, Box 9409\r\nAPO AP 05068',
 '95474 Crosby Stravenue\r\nWalkershire, IA 26059',
 '3220 Steven Fall Apt. 315\r\nNew Robert, CO 11515',
 'PSC 7870, Box 3524\r\nAPO AA 28290',
 '85005 Griffin Haven\r\nPort Josephville, FL 51987',
 '880 Adams Rapid\r\nNew Philipmouth, NY 79771',
 '65056 Steven Terrace Apt. 323\r\nMarychester, MS 55753',
 '350 Monica Forks Apt. 284\r\nVegamouth, AK 10810',
 '223 Sanders Points Suite 634\r\nScottburgh, OR 94011',
 '230 Scott Club\r\nSouth Williammouth, NH 84316',
 '127 Kyle Overpass\r\nSarahshire, OK 77274',
 '1863 Stephanie Fall\r\nSouth Charlotte, MT 01050',
 '99523 Ross Islands Suite 767\r\nThomasburgh, WA 97793',
 '2152 Lin Via Apt. 067\r\nJordanmouth, KY 18672',
 '0677 Morgan Terrace Apt. 848\r\nReynoldsland, SC 99379',
 '93602 Rodriguez Passage\r\nEast Deniseview, MO 42352',
 '33520 Li Lock Suite 660\r\nPort Richard, WI 98620',
 '5532 Madden Land\r\nChenmouth, OR 43547',
 '4439 Taylor Falls Apt. 371\r\nPort Nicolemouth, OH 78247',
 'PSC 7116, Box 6344\r\nAPO AP 77725',
 '53955 Jesus Brook\r\nRobertberg, MA 01512',
 '39174 Hayley Mission Apt. 951\r\nRhodesmouth, KY 94572',
 '66958 Ingram Station Apt. 540\r\nMannside, IA 81254',
 '184 Jones Mountains Suite 489\r\nGonzalezfurt, MA 24487',
 '6327 Nelson Dale Suite 555\r\nSouth Christinaland, WV 72433',
 '193 Wood Isle Apt. 582\r\nMartinezstad, WY 04280',
 '082 Whitney Forks Suite 927\r\nMclaughlinhaven, WV 60552',
 '191 Dale Village Suite 371\r\nGloverfort, MD 47613',
 '672 Reynolds Port\r\nMitchelltown, MO 83382',
 '0698 Watts Mountains\r\nJonesfurt, NC 17963',
 '0768 Katherine Points\r\nPort Casey, IA 25495',
 '087 Alexa Plaza Suite 685\r\nStevenstad, IN 68672',
 '5797 Collins Locks Suite 645\r\nSouth Donna, WY 63866',
 '137 Pierce Roads Suite 562\r\nKevinborough, NV 27395',
 '79892 Todd Terrace Suite 335\r\nJodymouth, NH 62790',
 '43434 Lauren Drive Suite 349\r\nLake Michaelmouth, NY 13474',
 '29562 Harold Path\r\nEllisport, HI 21075',
 '9131 Jenkins Prairie Apt. 320\r\nBrittanymouth, KS 34570',
 'PSC 0017, Box 4494\r\nAPO AA 46582',
 '75737 Sharon Inlet\r\nSouth Justin, WA 54684',
 '514 Wagner Drive Suite 501\r\nHicksview, MT 40833',
 '331 Kristi Cliff Suite 050\r\nLake Brenda, AL 13442',
 '996 Rush Locks\r\nNorth Jessica, DE 94049',
 'Unit 2381 Box 6496\r\nDPO AP 27412',
 '036 Bullock Inlet Suite 665\r\nCatherineview, NJ 63604',
 '607 Nancy Crescent Suite 344\r\nNorth Kaitlynmouth, OH 45281',
 '407 Olson Garden\r\nLake Ambershire, OH 79585',
 '532 James Vista\r\nAdamsberg, CO 53469',
 '66104 Rhonda Fall Apt. 661\r\nSouth Cynthiastad, PA 33837',
 '5679 Williams Brooks Suite 681\r\nPhillipburgh, NJ 27759',
 '76768 Sarah Isle\r\nNorth Adam, UT 01592',
 '148 Ross River Suite 788\r\nNew Davidfurt, SC 01342',
 '9004 Suzanne Lane Suite 908\r\nMargaretville, KS 58925',
 '2304 Ho Hollow Suite 979\r\nCarlshire, DE 63767',
 '160 Clark Forest Apt. 459\r\nSpencestad, MN 73948',
 '73788 Grace Throughway Apt. 100\r\nLake Kimberly, VT 09065',
 '743 Pamela Motorway\r\nSouth Brian, HI 59897',
 '5461 Diana Islands\r\nNew Larrymouth, NY 98846',
 '7489 Jeremy Falls\r\nNew Darren, IA 13962',
 '648 Kaylee Parks\r\nCathyport, NE 32308',
 '7356 Frank Square\r\nSouth Nicoleshire, OR 33167',
 '512 Troy Knolls\r\nGilmoreside, WI 81698',
 '7115 Diana Heights\r\nVictorside, MT 47375',
 '0012 Debra Oval\r\nRyanside, FL 85387',
 '30683 Briggs Divide\r\nNew Nicholas, OH 78704',
 '35435 Munoz Circles\r\nSouth Denisehaven, AK 78249',
 '50687 Jessica Creek Apt. 562\r\nSouth Donaldtown, AZ 92995',
 '107 Chambers Pine\r\nNew Devinburgh, RI 50631',
 '187 Mary Mills\r\nKempside, KS 36442',
 '7572 Bell Lodge Suite 698\r\nEast Megan, HI 81677',
 '33635 Phillips Meadow\r\nSherrimouth, DC 74165',
 '3818 Cooper Forges Suite 774\r\nSimmonsland, DC 14896',
 '72400 White Shore Suite 441\r\nTranside, OR 53363',
 '39144 Joel Highway\r\nRodrigueztown, MI 72599',
 '4000 David Well\r\nLeeville, ME 61760',
 '890 Chaney Lake\r\nNorth Jonburgh, KY 25882',
 '52244 Morgan Freeway\r\nEmmaside, PA 96873',
 '231 Chang Parkways Suite 217\r\nAaronshire, NV 85740',
 '6618 Petty Drives\r\nHamiltonhaven, WI 12096',
 'USS George\r\nFPO AP 84200',
 'Unit 1394 Box 9311\r\nDPO AP 65632',
 '533 Lee Plains\r\nPittsberg, NV 72286',
 '462 Patel Corners\r\nSouth Danielville, NY 06238',
 '026 Robert Overpass Suite 362\r\nRyanburgh, ID 51438',
 '7722 Joseph Springs\r\nPort Kevin, PA 08172',
 '12717 Pamela Crossing Suite 075\r\nWest April, OH 11677',
 '0989 Allen Mill Suite 824\r\nHallview, MS 17382',
 '5506 Keith Fall Suite 988\r\nChristopherfurt, AK 57908',
 '153 Amber Meadows Suite 923\r\nNelsontown, OK 55376',
 '71969 Barnett Station Suite 996\r\nLake Rebeccatown, KY 96738',
 '312 Susan Court Apt. 029\r\nNew Robert, ME 63065',
 '2265 Aaron Hills\r\nLake Colleen, VA 26543',
 '765 Jessica Port\r\nBarbaraville, CT 87699',
 '45040 Lewis Shoals\r\nWhiteland, ND 74157',
 '4978 Lauren Isle Suite 271\r\nTaylorborough, ND 16729',
 '6470 Michael Shores\r\nDenisefurt, OR 35966',
 '97359 Bates Circle\r\nLake Jacob, AR 68329',
 '334 Monica Villages\r\nSouth Annetteton, HI 24266',
 'USNS Hardy\r\nFPO AA 26526',
 '55104 Chris Mission Suite 468\r\nNew Joshuaborough, SD 38712',
 '3903 Matthew Parks\r\nPort Marcfort, ID 56663',
 'PSC 0418, Box 6975\r\nAPO AE 40563',
 '83190 Franco Key Suite 175\r\nWyattside, ID 58208',
 '110 Jocelyn Oval\r\nJohnsonmouth, SC 44112',
 '318 Mark Views Apt. 483\r\nVillanuevahaven, TX 40241',
 '743 Morrison Ferry Apt. 921\r\nSouth Richard, NC 33924',
 '7824 Zamora Mountain Apt. 018\r\nLake Emilyport, IL 96164',
 'Unit 8525 Box 0149\r\nDPO AA 90379',
 '184 Joseph Drive Suite 005\r\nJoemouth, NE 33839',
 'PSC 4362, Box 1348\r\nAPO AP 46326',
 '02217 Amanda Locks Apt. 918\r\nLake Krista, OK 17329',
 '5380 Bryan Fort Suite 370\r\nJacksonton, NV 07248',
 '16804 Booker Road Suite 553\r\nDanielfurt, AR 31819',
 'Unit 0256 Box 5694\r\nDPO AE 79820',
 '034 Hood Plains Suite 032\r\nJameshaven, AK 81505',
 '4123 Samuel Flat Apt. 168\r\nWilsonview, SD 42078',
 '0497 Craig Station Apt. 400\r\nNorth Julie, SC 59818',
 'USNV Smith\r\nFPO AP 91163',
 '6791 Garcia Lock Suite 606\r\nFoxville, VA 62949',
 '06621 Zachary Courts\r\nNew Tinaberg, ID 21177',
 '320 Barry Island\r\nStephensontown, NH 31334',
 '51486 Lopez Canyon\r\nSouth Carlachester, NE 95102',
 '1183 Brown Common Suite 862\r\nParkerport, AL 29820',
 '131 Warren Lights\r\nNorth Sara, KS 60019',
 '24152 Henry Locks\r\nBurkebury, OR 80905',
 'PSC 6445, Box 5765\r\nAPO AA 62565',
 '851 Burns Isle Suite 672\r\nLake Ericchester, GA 13704',
 'PSC 1015, Box 0627\r\nAPO AP 55880',
 '5774 Heather Plaza Apt. 803\r\nStevenfurt, MS 54434',
 '1587 Brent Square Apt. 447\r\nEast Jill, FL 19651',
 '16005 Shannon Loaf\r\nReidport, ND 75101',
 '724 Bryant Lodge\r\nCarolineshire, TX 64242',
 '22452 Wagner Common\r\nNew Rileyland, MT 33938',
 '889 Ramos Dale Suite 491\r\nJosechester, NC 27528',
 '695 Baldwin Falls Apt. 527\r\nLake Maurice, AR 55708',
 '3316 Thompson Ridge Apt. 560\r\nStephenchester, MA 02621',
 '2671 Gonzalez Prairie\r\nAndrewborough, NH 57580',
 '32590 Sally Shoal\r\nPetersonville, HI 94752',
 '44886 Miguel Court Suite 936\r\nNew Dawn, NH 87172',
 '67487 Hopkins Wall Apt. 206\r\nEast Brandi, NM 52127',
 'USNS Johnson\r\nFPO AA 19200',
 '432 James Divide Suite 967\r\nPittsmouth, TX 18596',
 'Unit 0311 Box 2116\r\nDPO AP 22317',
 '767 Boyd Court Suite 455\r\nChelseaside, CT 29479',
 '57593 Erin Stream\r\nMorganstad, TX 50541',
 '9515 Jacob Mountains Apt. 971\r\nNew Shawna, AR 74737',
 '09025 Michael Bypass Apt. 092\r\nPort Charles, TN 36032',
 '45930 Nicole Estates\r\nNew Heather, MS 50758',
 '93999 Wiggins Radial\r\nWest Carolview, NH 70291',
 '7333 Lawson Stravenue\r\nWilliamstown, MN 08849',
 '8228 Christina Valleys\r\nLisamouth, NC 53046',
 '3718 Cline Mountains Suite 133\r\nPort Kevinshire, MI 24119',
 '05828 Mendez Pines\r\nNew Davidberg, AL 75353',
 '3947 Andrew Meadows\r\nStevenmouth, FL 24513',
 '951 Paul Mountains Apt. 915\r\nEast Kelsey, MD 62490',
 '487 Freeman Court Suite 558\r\nSouth Shaun, OH 33847',
 '14221 Olsen Canyon\r\nPort Brian, NC 48628',
 '916 Saunders Via Apt. 074\r\nPort Renee, IA 68482',
 'Unit 9894 Box 7167\r\nDPO AP 17685',
 '4571 Samuel Fields Apt. 148\r\nWest Ryan, KS 01005',
 '60915 Jonathan Locks\r\nLake Samuelside, ID 97896',
 'PSC 7923, Box 0499\r\nAPO AA 69784',
 '656 Marshall Knolls Apt. 161\r\nNorth Christopherberg, CT 28519',
 '9393 Arias Summit\r\nNew Rachel, WY 66460',
 '40341 Jonathan Trafficway Apt. 282\r\nPort Tom, CT 19441',
 '07722 Campos Circle Suite 233\r\nColinborough, MD 11773',
 'PSC 2310, Box 5318\r\nAPO AA 52597',
 '779 John Walk Suite 738\r\nCarrieshire, NJ 87834',
 '9866 Larry Hill Suite 223\r\nJoshuaberg, VA 80427',
 '6868 Cooper Station\r\nPort Matthewfort, HI 40279',
 '948 Kent Spur\r\nSouth Hannahfurt, DC 08497',
 '2081 Natalie Centers Suite 279\r\nLake Jasonfurt, LA 51957',
 '6860 Mark Square\r\nNew Michealville, HI 42905',
 '24851 Williams Squares\r\nBrittanymouth, ME 69277',
 '22298 Smith Trail\r\nNew Catherinefurt, KS 85393',
 '015 Jeffrey Path\r\nNew Robinmouth, CA 48191',
 '59024 Tammy Rapid Suite 544\r\nJohnport, SD 14437',
 '64734 Sean Prairie\r\nFarmerside, WY 69377',
 '32820 Stephanie Knolls\r\nChristineshire, KY 40560',
 '3106 Robin Knolls\r\nBrookeborough, RI 89626',
 '7303 Clark Corner\r\nBenjaminland, OK 57432',
 '117 Bautista Garden Suite 951\r\nThomasside, MO 17297',
 '56110 Blake Point\r\nKatiefort, NY 02127',
 '4848 Clark Well Apt. 111\r\nNorth Michaelburgh, DC 40107',
 '36832 Brandon Mall Apt. 272\r\nNew Donna, MT 56622',
 '25584 Corey Common\r\nPort Kelseyfort, ME 00554',
 '9846 Jessica Street\r\nPort Kyleberg, AZ 94438',
 '0352 Gillespie Grove Suite 933\r\nEast Anthonyfurt, CT 74971',
 '7264 Justin Harbor\r\nNorth Jasmin, VT 83646',
 '4930 Lauren Center Apt. 345\r\nVargaston, DC 17326',
 '520 Holly Parkways\r\nCrystalview, TN 33085',
 '886 Diaz Point\r\nTimothymouth, RI 29219',
 '9198 Sara Trail\r\nDebbiemouth, DE 97515',
 '371 Steven Station Suite 485\r\nPaulchester, MN 49609',
 '98787 Wheeler Drive Suite 157\r\nSouth Larry, MD 53378',
 '46980 Morris Place\r\nWolfeton, IL 33188',
 '35073 Linda Islands\r\nLake Davidville, OR 53816',
 '82645 Peterson Radial Suite 957\r\nBethanybury, TX 68689',
 '14965 Brown Camp\r\nVancetown, DE 96634',
 '45173 Stephanie Shore\r\nFreemanchester, OR 02030',
 '704 Curtis Islands\r\nNorth Brian, LA 01574',
 '7085 Smith Branch Apt. 021\r\nNguyenview, HI 64533',
 '892 Pamela Way Suite 503\r\nTiffanychester, MD 88995',
 '352 Patrick Branch\r\nWarrenstad, WI 40459',
 '0540 Rivers Bypass\r\nPort Shannon, RI 24531',
 '0230 Douglas Shoals Suite 063\r\nPort Miranda, MI 89553',
 '1002 Blake Ports Suite 194\r\nEast Michaelshire, UT 04684',
 'Unit 8818 Box 1233\r\nDPO AA 47299',
 '041 Bobby Station Suite 872\r\nKennethton, MN 75730',
 '80977 Bowman Run\r\nEast Gloria, NH 29552',
 '28422 Michael Underpass\r\nKevinstad, SC 30639',
 '13943 Susan Shoals Apt. 542\r\nMullenmouth, GA 30120',
 '9138 Bradley Loop Suite 228\r\nMillsbury, PA 58573',
 '646 Alexandra Parks Suite 554\r\nClarkside, CO 84281',
 '1133 Michael Gateway Apt. 067\r\nNoahland, IA 29675',
 '30409 Samantha Junctions\r\nTinaton, NH 45894',
 '2078 Ramos Points\r\nDawnstad, CO 58147',
 '3319 Jordan Skyway Apt. 704\r\nNorth Aaron, DE 79441',
 '335 Steven Loaf Suite 070\r\nNew Shawnbury, SC 43836',
 '73933 Kevin Coves Suite 868\r\nDouglasfurt, NJ 79644',
 '838 Melissa Dam Suite 147\r\nPort Rhonda, NC 77341',
 '652 Crystal Roads Apt. 929\r\nLake Margaret, MD 78848',
 '987 Darryl Island\r\nJacobview, ID 70800',
 '9788 Greg Port\r\nEast Richardburgh, MO 77774',
 'Unit 2761 Box 1368\r\nDPO AP 88714',
 '915 David Dam Apt. 960\r\nLake Brian, ND 78766',
 '910 David Park Apt. 940\r\nMarshtown, VA 24560',
 '87996 Meghan Estate\r\nGrosschester, AR 75965',
 'USNS Rogers\r\nFPO AA 04641',
 '136 Cooper Courts\r\nNew Rebecca, CO 32189',
 '4283 Acosta Club Suite 344\r\nNorth Adamville, TN 97575',
 '5279 Zachary Forges\r\nNorth Sonya, KY 55200',
 '222 Knight Loop\r\nPort Christina, NM 10958',
 '83506 Daisy Pike Suite 497\r\nWest Jacobberg, NJ 09999',
 '69450 Shannon Ridge Apt. 281\r\nJohnstad, ND 04122',
 '705 Michael Oval Suite 578\r\nAliciafurt, NV 65209',
 '33733 Savannah Green Apt. 467\r\nEast Daniel, CA 18527',
 '867 Barrett Dale Apt. 670\r\nDonaldchester, NH 07371',
 '3896 Stacey Prairie\r\nPort Anthonyfort, MO 86404',
 '569 Rivera Shores\r\nNorth Shane, KY 63052',
 '30043 Bruce Hills Apt. 402\r\nStacyhaven, WI 18951',
 '15673 Elizabeth Fork Suite 835\r\nJohnfort, WI 67288',
 '25641 Ford Green Apt. 015\r\nSteventon, OK 59715',
 '31413 Johnny Groves Suite 668\r\nHooverfort, VT 66119',
 '20506 Cooper Meadows\r\nCurtisberg, WA 72185',
 '46290 Ramirez Plain\r\nNew Michael, VT 96293',
 '5249 Deanna Gardens Suite 614\r\nSouth Breanna, NM 14463',
 '48011 Trevino Keys\r\nEast Natashaville, AK 66386',
 '7586 Kara Spring\r\nSuzanneside, IA 81790',
 '188 Williams Brook Apt. 963\r\nWest Morgan, FL 59210',
 '3083 Taylor Hollow Apt. 556\r\nAlyssamouth, AR 66616',
 '61363 Chelsea Freeway Apt. 845\r\nNew Lindaberg, NY 41462',
 '50506 Robert Shoal Suite 554\r\nNorth Lisa, OR 24199',
 '10871 Warner Shoals\r\nBradleyland, AR 94965',
 '3064 Dennis Pike\r\nSouth Sabrina, LA 29812',
 'USCGC Richardson\r\nFPO AP 33944',
 '9504 Wong Rest\r\nParksport, TN 71782',
 '87885 Berry Union Apt. 321\r\nHarrisonland, NV 05908',
 '0013 Gonzalez Trail Suite 078\r\nWest Laura, LA 59978',
 '45762 Hayley Ramp Apt. 282\r\nNew Carrie, RI 61372',

**Age**

Kedze min je 14 a max 98 tak nevyzera ze v tomto stlpci su vychylene hodnoty

In [456]:
df['age'].describe()

count    1311.000000
mean       51.900839
std        11.860033
min        14.000000
25%        44.000000
50%        52.000000
75%        59.000000
max        98.000000
Name: age, dtype: float64

**Sex**

Kazdy zaznam ma vyplneny stlpec sex, jedine hodnoty ktore sa tam vyskytuju su Male a Female

In [465]:
df['sex'].describe()
list(df['sex'].unique())

count      1311
unique        2
top        Male
freq        877
Name: sex, dtype: object

[' Male', ' Female']

**Date of birth**  
Datumy narodenia mame v roznych formatoch

In [472]:
df['date_of_birth'].describe()
list(df['date_of_birth'].unique())

count           1311
unique          1278
top       1964-12-27
freq               3
Name: date_of_birth, dtype: object

['1971-07-10 00 00 00',
 '1965-08-09',
 '1971-01-20 00:00:00',
 '1959-11-02',
 '1983-08-13',
 '1958-07-13',
 '1990-10-09',
 '1972-11-05',
 '1974-05-06',
 '1974-12-31',
 '1973-08-31 00:00:00',
 '1968-04-16',
 '1969-05-02',
 '1975-11-14',
 '1969-06-22',
 '44-06-28',
 '1968-02-28',
 '1969-07-10',
 '1983-07-07',
 '1935-11-17',
 '1974-01-11',
 '1947-12-19',
 '1969-06-21',
 '1971-04-15',
 '1950-11-25 00:00:00',
 '1952-04-21',
 '1964-08-09 00:00:00',
 '1970-04-05',
 '1952-07-15',
 '1980-12-12',
 '1975-10-20',
 '1938-06-25',
 '2005-04-17',
 '1970-05-16',
 '1970-02-22',
 '1948-10-10',
 '06/06/1988',
 '1960-04-20',
 '75-03-09',
 '1980-08-17 00:00:00',
 '1975-04-11',
 '1969-01-18 00 00 00',
 '76-04-27',
 '79-09-12',
 '1974-08-09',
 '1960-11-30',
 '1963-03-22 00:00:00',
 '1965-05-04',
 '1964-12-08',
 '1966-01-26',
 '1987-11-10',
 '1960-09-22',
 '1994-11-06',
 '1960-12-02',
 '1957-03-21 00 00 00',
 '1984-04-04',
 '1966-06-18',
 '1986-12-08',
 '1956-09-12',
 '1955-09-26',
 '1962-04-05',
 '1967-12-17',
 '1971-06-23',
 '1956-04-12',
 '1964-01-05',
 '1966-05-16',
 '1971-04-14',
 '1960-06-12',
 '1976-12-30',
 '1985-05-18',
 '1967-12-14',
 '01/03/1958',
 '1949-10-11',
 '1956-07-05',
 '1969-09-07',
 '1987-09-18',
 '1978-03-30',
 '1989-09-24',
 '1970-04-18',
 '1961-09-11',
 '1966/08/31',
 '1994-01-03',
 '1979-07-11',
 '1963-12-28',
 '1961-05-18 00 00 00',
 '1979/11/11',
 '1990-05-15 00 00 00',
 '1965-06-05',
 '2002-05-30',
 '1975-07-04',
 '1955-02-09',
 '1970-08-14',
 '1956-03-30',
 '1937-11-12',
 '26/01/1985',
 '28/10/1966',
 '54-11-20',
 '1952/04/12',
 '1979-01-09',
 '1963-09-22',
 '1975-04-05',
 '79-05-27',
 '1974-07-08',
 '76-04-18',
 '1952-12-22',
 '1985-10-21',
 '1969-11-08',
 '1968-04-13',
 '1973-02-20',
 '30/11/1961',
 '1963-01-17',
 '1959-12-07',
 '1963-10-20',
 '1971-10-03',
 '1969-09-18',
 '14/01/1962',
 '1978-06-02',
 '1952-09-01',
 '1965-08-15 00:00:00',
 '1980-04-27',
 '1988-12-27',
 '1945-03-10 00 00 00',
 '1954-03-28',
 '1973-07-17',
 '1979-12-15',
 '1959-11-03',
 '1978-05-14 00 00 00',
 '1972-11-21',
 '1966-04-23',
 '1961-03-15',
 '1984-06-03',
 '64-11-29',
 '1972-01-22',
 '1968-01-29',
 '75-07-28',
 '1983-09-01',
 '08/08/1961',
 '1969/06/25',
 '1965-04-06 00 00 00',
 '2003-06-28',
 '07/10/1955',
 '1961-09-14',
 '1964-10-06',
 '1981-05-30 00:00:00',
 '1957-01-27',
 '02/11/1967',
 '1964-11-04',
 '1984-02-01',
 '64-12-21',
 '1970-09-20',
 '1986-11-03',
 '19/10/1943',
 '1954-11-29',
 '1973-10-08',
 '75-11-04',
 '1967/04/05',
 '1969/08/22',
 '1972-10-03',
 '1973-04-28',
 '1961-05-18',
 '1969-08-21',
 '1958-09-23',
 '1940-11-11',
 '1974-05-08',
 '1964/07/07',
 '1967-10-27',
 '1975-10-07',
 '1978-02-14',
 '67-02-23',
 '1972-05-23',
 '64-10-03',
 '10/06/1978',
 '1992-01-06',
 '1966-08-15',
 '1966-12-21 00 00 00',
 '07/05/1969',
 '1965-09-01 00:00:00',
 '12/12/1964',
 '1965-05-18',
 '1962-12-25 00 00 00',
 '1959-06-01',
 '1963-04-07',
 '1970-12-09',
 '1961-10-31',
 '1988-06-28',
 '1974-01-18',
 '1975-09-08',
 '1961-12-23',
 '1953-01-27',
 '1993-02-24',
 '1966-01-11',
 '1978-12-12',
 '10/05/1971',
 '2001-08-23',
 '1962/01/16',
 '1965-02-01',
 '1955-03-07',
 '1955-06-25',
 '11/10/1992',
 '1982-08-19',
 '64-02-28',
 '18/08/1980',
 '1950-05-26',
 '1963-10-01',
 '1970-02-10',
 '1958-10-07',
 '1952-08-11',
 '1966-12-08 00 00 00',
 '1944-10-11',
 '1977-06-08',
 '1960-10-08 00:00:00',
 '30/05/1969',
 '1973-02-05',
 '1958-05-31 00 00 00',
 '1965-11-13 00 00 00',
 '1966/05/03',
 '16/04/1954',
 '21/04/1970',
 '1981/09/22',
 '1967-10-04',
 '1964-07-10',
 '1974-05-04',
 '1961-02-04 00 00 00',
 '1962-03-18',
 '1966-10-19',
 '1966-10-02',
 '1970/11/05',
 '1971-06-01',
 '1964-12-20 00 00 00',
 '1955-08-19',
 '1948/03/12',
 '1977-01-29',
 '60-12-07',
 '1999-05-10',
 '1962-06-22 00:00:00',
 '1965-04-05 00 00 00',
 '1987-09-29 00 00 00',
 '1967-04-14',
 '1968-11-13',
 '1950-10-03',
 '1960-04-29',
 '1962/05/28',
 '1958-08-28',
 '1975-01-12',
 '1974-02-03',
 '1962-12-16',
 '1957-02-06',
 '01/07/1982',
 '1962-07-28',
 '1967-08-20',
 '05/07/1977',
 '1964-12-01',
 '1985-09-22',
 '1960-11-16',
 '1963/03/25',
 '29/11/1979',
 '1961-07-30',
 '1957-08-17',
 '1984-04-09',
 '1936-09-29',
 '1960-01-31 00 00 00',
 '1958-12-22 00 00 00',
 '1963/01/19',
 '1957-09-02',
 '1962-07-14 00 00 00',
 '1943-01-02 00:00:00',
 '1964-10-05',
 '1963-12-22 00:00:00',
 '1976-11-28',
 '1972-06-29 00 00 00',
 '1955-05-27',
 '1962-06-17',
 '1967-12-20',
 '1963-11-01',
 '1981/10/13',
 '1985-07-12',
 '68-01-06',
 '1950-01-01',
 '1987-07-02',
 '1974-07-22',
 '1982-11-01 00 00 00',
 '1974-03-21',
 '1955-04-17',
 '1965/11/18',
 '1965-08-13',
 '1969-11-01 00 00 00',
 '1969-03-31',
 '1957-10-01',
 '87-06-01',
 '1962-09-05 00 00 00',
 '1969-03-25',
 '1972-07-15',
 '1957-10-23',
 '1968-05-25',
 '1959-04-25',
 '1971-12-12',
 '21/08/1962',
 '1980-10-03',
 '1967-04-12 00:00:00',
 '1972-01-27',
 '1977-11-23',
 '1963-03-20',
 '1976-05-18',
 '1960-11-03',
 '1959-03-05',
 '1966-10-10 00:00:00',
 '12/06/1994',
 '77-05-21',
 '1970/04/23',
 '47-09-25',
 '1969-08-13 00 00 00',
 '1972-02-27',
 '1933-12-02',
 '1981-05-22',
 '1971-01-20',
 '1969-10-10',
 '1981-10-25',
 '1992/09/09',
 '1948-10-28 00:00:00',
 '1968-02-08',
 '1974-02-17',
 '1963-02-28 00 00 00',
 '1963-08-04',
 '1963-04-09',
 '1932-11-02 00:00:00',
 '1963-03-22',
 '1946-05-04',
 '77-09-25',
 '1981-08-17',
 '1960-09-29',
 '1954-10-02',
 '1967-08-03',
 '68-01-20',
 '1983-04-21',
 '1946-12-27 00 00 00',
 '1976-06-16',
 '82-05-22',
 '1959-04-03 00 00 00',
 '1981-11-27',
 '1965-07-26 00:00:00',
 '64-12-23',
 '1970-09-22',
 '1983-03-07',
 '1959-01-30',
 '1958-11-07 00 00 00',
 '1964-08-16',
 '1956-08-15',
 '60-04-10',
 '1965-09-06',
 '1968-09-26',
 '1991-07-20',
 '1967-05-17',
 '1968-09-02',
 '1983-03-30',
 '1929-02-14',
 '1976-11-25',
 '1972-06-15',
 '1961-02-15',
 '1980-01-29',
 '1962-08-29',
 '1962-08-11',
 '71-08-03',
 '1993-04-10',
 '1975-12-19 00:00:00',
 '1956/08/04',
 '1973-08-25',
 '1959-12-17',
 '1982-09-29',
 '1959-12-15',
 '59-11-25',
 '1958-06-10',
 '1977-04-23',
 '1972-06-29',
 '1959-05-19 00 00 00',
 '1971-07-02',
 '1968/04/28',
 '11/02/1966',
 '1972-10-16',
 '1952-07-18',
 '1968-10-01',
 '1964-08-30',
 '1981-05-16',
 '1980-08-24',
 '1964-11-03',
 '1960-05-08',
 '1964-03-18',
 '1968-07-26',
 '1967-07-03 00:00:00',
 '1970-12-30',
 '1944-11-13',
 '1959-01-17',
 '1970-04-20 00 00 00',
 '1970-02-04',
 '1979-06-13 00 00 00',
 '1978-11-20',
 '1971-12-20',
 '1957-05-23',
 '27/02/1970',
 '1972-01-30',
 '1971-12-24',
 '1948-07-26',
 '1993/02/17',
 '1961-08-25',
 '1969-03-24',
 '1974/01/19',
 '1981-09-03 00 00 00',
 '20/10/1974',
 '1965-08-10',
 '1981-02-09',
 '1958-04-16',
 '18/06/1971',
 '1975-01-18',
 '1961-11-17',
 '1986-06-01',
 '1977-12-25 00:00:00',
 '1982-12-03 00:00:00',
 '1964-09-04',
 '1969-11-16',
 '1973-05-17',
 '1975-12-12',
 '1992-01-20',
 '1970-09-07',
 '1970-08-21',
 '1960-05-10',
 '25/10/1957',
 '1964-11-28',
 '1979-03-14',
 '1968-12-28 00:00:00',
 '17/12/1957',
 '1976-11-11',
 '1971-08-01',
 '1951-10-25',
 '1945-08-08',
 '11/07/1983',
 '1971-04-10',
 '1951/01/03',
 '1985-01-30',
 '1958-02-28 00:00:00',
 '1974-11-28',
 '1966-04-03',
 '1951-05-31',
 '1973-09-16',
 '1981-12-17',
 '1950-06-05',
 '1980-12-18',
 '1952-06-15',
 '1976-07-22',
 '1974-02-25',
 '59-08-25',
 '1989-06-15',
 '17/05/1968',
 '77-01-24',
 '1964-06-13',
 '1967-12-08 00 00 00',
 '1963-02-20',
 '28/05/1956',
 '11/09/1962',
 '1976-01-29',
 '1977-01-12 00:00:00',
 '1982-09-07',
 '1950-03-16',
 '1959-12-01',
 '1970-11-08',
 '1963-06-04 00 00 00',
 '1957/12/09',
 '1983-06-14 00:00:00',
 '1976-08-05',
 '1953-09-06',
 '1970-11-27',
 '1946-06-23',
 '1981-06-14',
 '1975-11-22',
 '15/11/1954',
 '1956-02-01 00:00:00',
 '69-11-20',
 '1962-08-24',
 '1969-09-04',
 '1975-05-27',
 '1954/06/11',
 '1955-01-24',
 '21/01/1967',
 '1971-10-18',
 '57-01-16',
 '1989-12-19',
 '1975-04-08',
 '1958-01-10',
 '19/12/1967',
 '1983-09-20',
 '1963-07-03',
 '76-11-20',
 '1960/03/23',
 '1962-12-25',
 '1965-08-06',
 '1965-03-20 00 00 00',
 '1980-04-04',
 '1954-03-17',
 '1978-03-07 00:00:00',
 '1963-03-19',
 '1976-10-02',
 '1978-10-17',
 '1981-10-29',
 '72-09-05',
 '62-11-17',
 '1966-08-16',
 '1964/03/15',
 '1949-11-08',
 '01/11/1971',
 '1978-09-13 00 00 00',
 '1966-01-14',
 '10/03/1956',
 '1959-07-21',
 '1956-02-28',
 '1982-03-19 00:00:00',
 '1962-04-07',
 '09/08/1967',
 '1958-07-30 00:00:00',
 '1957-10-18',
 '1959-09-03',
 '1962-01-17',
 '1964-12-27',
 '1967/01/10',
 '1949/10/10',
 '1948-01-14',
 '1988-06-24',
 '07/11/1978',
 '1976-12-13',
 '1961/07/11',
 '1967-03-17',
 '1972-10-28',
 '2004-10-06 00:00:00',
 '1952-09-12',
 '1953-06-19',
 '1979-08-30',
 '1952-01-18',
 '1981-03-27',
 '1947-12-03',
 '1968-08-02',
 '1954-02-26',
 '1958-11-08',
 '1998-09-07',
 '1949-10-21',
 '1957-08-13',
 '1955-11-27',
 '1940-11-04',
 '47-09-20',
 '85-05-20',
 '1972-11-08',
 '24/04/1968',
 '1986-08-13',
 '1982-03-04',
 '1959-10-30',
 '1972-12-30',
 '1978-01-21 00 00 00',
 '1959-11-05',
 '1969-11-11',
 '1972-03-27',
 '1967-06-18',
 '1949-01-02',
 '1968-03-16',
 '1957-11-30',
 '1967-12-14 00:00:00',
 '1957-04-26',
 '1965-10-17 00:00:00',
 '1982/01/26',
 '1970-08-16',
 '1969-10-05',
 '1953-11-24 00:00:00',
 '1975-05-21',
 '1969-10-30 00:00:00',
 '1965-03-29',
 '1992-01-04 00:00:00',
 '14/02/1960',
 '1974/03/24',
 '23/01/1988',
 '1965-08-20',
 '1943-01-02',
 '1970-04-27',
 '1957/03/04',
 '1975-12-03',
 '1961-09-04 00 00 00',
 '1964-10-24',
 '1952-09-06 00 00 00',
 '1958-05-21',
 '1993-10-29',
 '1968-02-01',
 '1962-05-11',
 '1952-03-17',
 '1970-04-14',
 '10/12/1973',
 '1953-02-09',
 '1969-05-14',
 '1962-11-18',
 '1950-08-06',
 '1957-04-29 00:00:00',
 '1962-10-14',
 '1952-06-27',
 '1957-11-23',
 '1958-05-14',
 '01/07/1970',
 '1964-12-12',
 '1949-01-16 00 00 00',
 '1975-03-12 00 00 00',
 '16/10/1968',
 '1966-01-30 00 00 00',
 '1948-07-23',
 '1957-04-03',
 '1974-08-06 00 00 00',
 '01/12/1977',
 '61-08-08',
 '1963-06-12',
 '1953-03-07',
 '1956-03-01',
 '63-02-25',
 '1968-11-01 00 00 00',
 '1950-01-27',
 '1969-07-04',
 '1949-05-23',
 '89-12-01',
 '1980-05-27 00:00:00',
 '1964-07-10 00:00:00',
 '1954-11-27',
 '64-01-30',
 '1955-09-29',
 '1961-04-17',
 '17/11/1974',
 '1967-10-28',
 '1940/02/09',
 '1959-07-24',
 '1956-01-29',
 '1958-01-23 00:00:00',
 '1975-03-29',
 '09/01/1978',
 '1952-06-20',
 '1953-12-28',
 '1952-09-09 00:00:00',
 '1957-02-03',
 '1988-02-16',
 '1985-08-11',
 '1961-08-06 00 00 00',
 '1972-12-29',
 '03/02/1967',
 '28/11/1981',
 '1973-09-19 00 00 00',
 '1956-02-20',
 '1979-09-26',
 '1945-10-09',
 '1967-01-13',
 '1950-01-04',
 '06/02/1954',
 '1968-07-30',
 '1973-03-17',
 '1963-05-04',
 '1968-02-18',
 '87-12-30',
 '1985-08-30 00 00 00',
 '1961-04-13 00 00 00',
 '1971-01-01',
 '1975-10-05 00:00:00',
 '13/08/1977',
 '1947/06/13',
 '1984-05-15 00:00:00',
 '1966-01-18',
 '1967-04-19',
 '1978/02/12',
 '1999-01-26',
 '1961-02-19',
 '1936-03-27',
 '1968-09-14',
 '1972-07-26',
 '1983-08-21 00 00 00',
 '1945-12-25 00 00 00',
 '02/11/1996',
 '1951-08-06 00:00:00',
 '1966-12-02',
 '1963-05-26',
 '1972-08-06',
 '1954-10-01',
 '58-07-28',
 '1967-05-31 00:00:00',
 '1954-02-06 00:00:00',
 '1972-04-25 00 00 00',
 '1962-11-29 00 00 00',
 '1973/10/25',
 '1971-01-21',
 '1966-04-27',
 '1973-05-18 00:00:00',
 '1970-03-19 00:00:00',
 '1957-10-08',
 '1959-03-24 00:00:00',
 '1967-02-16',
 '1961-10-02',
 '28/10/1973',
 '1970-10-09',
 '1978-09-03',
 '1969-05-20',
 '1972-03-01 00:00:00',
 '1959-04-24',
 '20/11/1983',
 '1963-10-25',
 '1975-12-14 00 00 00',
 '1960-04-04',
 '1947-11-12',
 '1982-07-22',
 '15/10/1962',
 '1968-08-22 00:00:00',
 '1958-01-29 00 00 00',
 '1955-05-11',
 '1974/10/21',
 '1956/04/13',
 '1933-01-15',
 '1948-10-20',
 '1963-11-18',
 '1961-07-02 00:00:00',
 '1989-07-12 00:00:00',
 '1963-07-20',
 '1968-06-15',
 '1960-08-04',
 '1956-12-25',
 '1976-05-11',
 '70-04-14',
 '1969-01-20',
 '1986-10-25',
 '1973-09-08',
 '1983-05-23 00 00 00',
 '1954-04-16',
 '1976-07-15',
 '1986-08-29',
 '1966-12-26',
 '1966-12-27',
 '06/02/1958',
 '54-01-24',
 '1978-07-10',
 '1969-04-02',
 '1974-04-24',
 '1981-09-22 00:00:00',
 '1968-04-26',
 '1981-11-03',
 '1960-10-15',
 '1984-08-04',
 '1966-07-03',
 '1969-11-22 00:00:00',
 '1965-05-07 00 00 00',
 '1959-09-15',
 '1965-03-27',
 '1959-08-28',
 '1942-10-01',
 '03/11/1976',
 '1957-12-15',
 '1970-05-22',
 '15/11/1965',
 '1946-03-17',
 '1934-12-18 00:00:00',
 '1972-07-22',
 '1958-09-06',
 '1957-09-21',
 '1957-07-21',
 '1985-05-25',
 '1971-02-05',
 '1970-08-20',
 '73-10-28',
 '1986-07-03',
 '1968/11/25',
 '1973-07-12',
 '1965-01-28',
 '1964-02-15',
 '02/02/1974',
 '1959-05-29',
 '1954-01-25',
 '1953-07-30',
 '1967-12-01',
 '1979-01-02',
 '1968-11-04',
 '1973-09-22',
 '1970-04-12 00 00 00',
 '1972-05-11',
 '07/07/1968',
 '1987-07-03 00 00 00',
 '06/04/1956',
 '1960-10-26 00 00 00',
 '10/07/1969',
 '1953-12-26',
 '1964-08-30 00:00:00',
 '1956-08-07',
 '1957-05-04',
 '1968-07-11',
 '1966-07-16',
 '1968-01-09',
 '1965-05-02',
 '1980-11-30',
 '1969-05-21',
 '1967-06-21 00 00 00',
 '1988-01-22',
 '1968-05-19',
 '1966-01-10',
 '1972-03-20',
 '1972-12-13',
 '1986-08-10',
 '1963-03-12',
 '1950-09-19',
 '06/10/1961',
 '1944/11/15',
 '1965-10-22',
 '1973-03-08',
 '1941-04-10',
 '1955-04-01 00 00 00',
 '1984-12-09',
 '1979-07-13',
 '1954-11-22',
 '1965-04-20',
 '1978-02-15',
 '1966-03-13',
 '1958-12-22',
 '1955-09-25',
 '1959-06-25',
 '1961/02/08',
 '1977-01-10 00:00:00',
 '1969/03/27',
 '1964-07-23',
 '1969/08/07',
 '1977/08/26',
 '1954-05-20',
 '1975-01-10',
 '1946-01-07 00:00:00',
 '1963-10-31',
 '10/06/1960',
 '1968-11-30',
 '1960-10-18',
 '1963-05-12',
 '1968-05-10',
 '1964-09-01 00:00:00',
 '1921-08-08',
 '1961-10-22',
 '61-09-22',
 '1960-09-03',
 '1972/06/10',
 '1957-12-25',
 '1986-10-07 00 00 00',
 '1982-11-24',
 '24/12/1957',
 '1955-09-19',
 '1986-02-07',
 '1956-03-14',
 '30/03/2004',
 '1967-06-21',
 '1964-12-07',
 '57-07-28',
 '1982/01/13',
 '1964-09-08',
 '1978-08-22',
 '1959-08-23 00:00:00',
 '1951-09-18 00:00:00',
 '1955-04-26',
 '1977-04-01',
 '1966-08-26',
 '1996/06/09',
 '1966-05-08',
 '2004-01-29',
 '1960-09-02',
 '78-05-19',
 '1964-09-03',
 '1966-06-05',
 '1970-10-10',
 '1993-04-14',
 '77-12-20',
 '1961-05-08 00:00:00',
 '75-07-18',
 '1959-03-07',
 '19/03/1964',
 '1957-12-23',
 '1962-12-08 00:00:00',
 '1964/07/18',
 '1983-12-17',
 '1966-10-21',
 '1954-05-10 00 00 00',
 '1972-09-06',
 '1971-06-12',
 '58-11-07',
 '1952/08/08',
 '1976-07-14',
 '1954-12-14',
 '1963-05-15',
 '1975-11-26',
 '1976-02-05',
 '1926-11-17',
 '1971-08-26',
 '1977/07/22',
 '1976-04-24',
 '1968/03/05',
 '1979-01-16 00 00 00',
 '1972-09-19',
 '1976-09-06',
 '64-05-05',
 '1976-03-17',
 '63-04-29',
 '1957-12-17',
 '38-02-13',
 '1962-09-28',
 '1991-04-09 00 00 00',
 '56-03-02',
 '1987-08-20 00 00 00',
 '66-05-01',
 '1952-03-12',
 '1961-08-02',
 '1973-05-18',
 '18/12/1958',
 '01/06/1969',
 '1965/02/15',
 '1978-03-20',
 '1958-06-07',
 '1982-10-08',
 '1981-06-23',
 '74-12-18',
 '1954-11-25',
 '1961-04-24',
 '1945-10-14 00 00 00',
 '1967-11-02',
 '1972-05-03',
 '60-07-23',
 '1949-11-11',
 '1951-12-31',
 '1987-06-28',
 '72-01-28',
 '1953-01-25',
 '1959-10-18 00 00 00',
 '1978/06/17',
 '1970-01-30',
 '1962-03-09',
 '04/05/1965',
 '1972-11-24 00 00 00',
 '1967-01-12 00:00:00',
 '1977-05-07',
 '1988-11-24',
 '1973-03-11',
 '67-07-19',
 '1949-10-31',
 '1952-12-07',
 '59-12-08',
 '1977-06-10',
 '1972-01-14',
 '75-10-07',
 '1983-10-29',
 '1968-01-19 00:00:00',
 '1970-06-12',
 '1947-08-20',
 '1993/09/19',
 '1951-12-29',
 '1964/10/26',
 '1973-01-15',
 '1968-09-17',
 '1959-11-20 00:00:00',
 '42-09-13',
 '1964-03-04 00:00:00',
 '1973-06-18',
 '1979-11-12',
 '1979-08-17',
 '1931-04-06',
 '1962-08-06',
 '1958-11-03',
 '1957-10-29',
 '76-08-01',
 '1972-04-23 00:00:00',
 '59-08-22',
 '1964-08-02',
 '1957-11-12',
 '1975-10-19',
 '1966-06-16',
 '1968-11-05',
 '1974-09-04',
 '1965-07-05',
 '1988-02-27',
 '1968-04-23',
 '1968-05-24',
 '1982-01-27',
 '1991-04-24',
 '1987/05/17',
 '06/04/1975',
 '1965-11-06',
 '1960-09-30',
 '1969-11-28 00:00:00',
 '1985-07-22 00 00 00',
 '1950-02-27',
 '1959-09-13',
 '1985-01-23',
 '1968-09-09 00 00 00',
 '1943-11-30',
 '1949-07-16',
 '1975-06-02',
 '1950-08-05 00:00:00',
 '1981-02-07',
 '1949-04-01',
 '30/08/1967',
 '03/11/1964',
 '1981-02-22',
 '1971-08-03',
 '1975-01-05',
 '72-10-20',
 '1981-06-12',
 '1957-09-01',
 '78-05-12',
 '1957-06-14',
 ...]

**Race**

In [473]:
df['race'].describe()
list(df['race'].unique())

count       1309
unique         5
top        White
freq        1118
Name: race, dtype: object

[' White',
 ' Black',
 ' Asian-Pac-Islander',
 ' Other',
 ' Amer-Indian-Eskimo',
 nan]

**Marital status**

In [477]:
df['marital-status'].describe()
list(df['marital-status'].unique())

count                    1226
unique                      8
top        Married-civ-spouse
freq                      530
Name: marital-status, dtype: object

[' Married-civ-spouse',
 ' Divorced',
 ' Widowed',
 ' Never-married',
 ' Separated',
 nan,
 '??',
 ' Married-spouse-absent',
 ' Married-AF-spouse']

**Occupation**

In [475]:
df['occupation'].describe()
list(df['occupation'].unique())

count                1311
unique                 14
top        Prof-specialty
freq                  183
Name: occupation, dtype: object

[' Other-service',
 ' Machine-op-inspct',
 ' Prof-specialty',
 ' Handlers-cleaners',
 ' Sales',
 ' ?',
 ' Craft-repair',
 ' Adm-clerical',
 ' Exec-managerial',
 ' Tech-support',
 ' Farming-fishing',
 ' Transport-moving',
 ' Priv-house-serv',
 ' Protective-serv']

**Pregnant**  
Pregnant moze nadobudat hodnoty true false, v datasete vsak mame rozne pomenovania tychto stavov (false - f, F, FALSE)

In [479]:
df['pregnant'].describe()
list(df['pregnant'].unique())

count     1311
unique       5
top          f
freq      1157
Name: pregnant, dtype: object

['f', 'F', 'FALSE', 't', 'T']

**Education-num**

In [511]:
df['education-num'].describe()
list(df['education-num'].unique())

count    1180.000000
mean       31.762712
std       315.969198
min     -1600.000000
25%         9.000000
50%        10.000000
75%        13.000000
max      1400.000000
Name: education-num, dtype: float64

[1100.0,
 10.0,
 11.0,
 9.0,
 13.0,
 nan,
 12.0,
 16.0,
 -1300.0,
 900.0,
 1300.0,
 6.0,
 4.0,
 14.0,
 7.0,
 -1200.0,
 800.0,
 15.0,
 2.0,
 -900.0,
 1000.0,
 -1600.0,
 3.0,
 5.0,
 -1000.0,
 -1400.0,
 -1100.0,
 600.0,
 8.0,
 300.0,
 1200.0,
 1400.0,
 700.0,
 -700.0,
 -600.0,
 1.0,
 -400.0,
 400.0]

**Relationship**

In [481]:
df['relationship'].describe()
list(df['relationship'].unique())

count         1310
unique           6
top        Husband
freq           519
Name: relationship, dtype: object

[' Husband',
 ' Own-child',
 ' Unmarried',
 ' Not-in-family',
 ' Other-relative',
 ' Wife',
 nan]

**skewness glucose**  
Vidime ze max je ovela vacsia ako mean

In [483]:
df['skewness_glucose'].describe()

count    1310.000000
mean        4.488281
std         9.896741
min        -1.791886
25%        -0.128644
50%         0.403469
75%         2.682085
max        63.466388
Name: skewness_glucose, dtype: float64

**mean glucose**

In [485]:
df['mean_glucose'].describe()

count    1311.000000
mean      100.639576
std        34.270089
min         7.632812
25%        84.355469
50%       110.054688
75%       125.589844
max       174.445312
Name: mean_glucose, dtype: float64

**capital gain**

In [487]:
df['capital-gain'].describe()

count     1308.000000
mean       911.953364
std       5534.558098
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max      99999.000000
Name: capital-gain, dtype: float64

**kurtosis glucose**

In [489]:
df['kurtosis_glucose'].describe()

count    1311.000000
mean        0.994300
std         1.635105
min        -0.967856
25%         0.055843
50%         0.306144
75%         0.999702
max         7.879628
Name: kurtosis_glucose, dtype: float64

**Education**

In [490]:
df['education'].describe()
list(df['education'].unique())

count         1311
unique          24
top        HS-grad
freq           381
Name: education, dtype: object

[' Assoc-voc',
 ' Some-college',
 ' Assoc_voc',
 ' HS_grad',
 ' HS-grad',
 ' Bachelors',
 ' Assoc-acdm',
 ' Doctorate',
 ' Some_college',
 ' 10th',
 ' 7th-8th',
 ' Masters',
 ' 11th',
 ' 12th',
 ' Prof-school',
 ' 1st-4th',
 ' 5th-6th',
 ' 9th',
 ' 1st_4th',
 ' 7th_8th',
 ' Assoc_acdm',
 ' Prof_school',
 ' 5th_6th',
 ' Preschool']

**fnlwgt**

In [492]:
df['fnlwgt'].describe()

count    1.310000e+03
mean     1.929120e+05
std      1.087439e+05
min      1.930200e+04
25%      1.208240e+05
50%      1.803175e+05
75%      2.442378e+05
max      1.455435e+06
Name: fnlwgt, dtype: float64

**Class**

In [493]:
df['class'].describe()
list(df['class'].unique())

count    1310.000000
mean        0.264122
std         0.441033
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: class, dtype: float64

[0.0, 1.0, nan]

**std glucose**

In [495]:
df['std_glucose'].describe()

count    1310.000000
mean       44.769086
std         7.617468
min        24.898211
25%        39.591300
50%        45.706875
75%        50.134986
max        81.503042
Name: std_glucose, dtype: float64

**Income**

In [496]:
df['income'].describe()
list(df['income'].unique())

count       1310
unique         2
top        <=50K
freq         988
Name: income, dtype: object

[' <=50K', ' >50K', nan]

**Medical info**  
Nie kazdy ma medical info. Chyba pri jednom zazname

In [498]:
df['medical_info'].describe()

count                                                  1310
unique                                                 1310
top       {'mean_oxygen':'2.611204013','std_oxygen':'18....
freq                                                      1
Name: medical_info, dtype: object

**Native country**

In [499]:
df['native-country'].describe()
list(df['native-country'].unique())

count               1311
unique                31
top        United-States
freq                1193
Name: native-country, dtype: object

[' United-States',
 ' Canada',
 ' Poland',
 ' Yugoslavia',
 ' Iran',
 ' ?',
 ' India',
 ' Japan',
 ' Puerto-Rico',
 ' Mexico',
 ' El-Salvador',
 ' Dominican-Republic',
 ' Germany',
 ' Cuba',
 ' Guatemala',
 ' Philippines',
 ' Taiwan',
 ' England',
 ' Trinadad&Tobago',
 ' Hungary',
 ' China',
 ' Jamaica',
 ' Peru',
 ' Cambodia',
 ' Italy',
 ' Outlying-US(Guam-USVI-etc)',
 ' Columbia',
 ' Thailand',
 ' Vietnam',
 ' Ireland',
 ' Portugal']

**Hours per week**

In [501]:
df['hours-per-week'].describe()

count    1311.000000
mean       39.798627
std        12.311009
min         1.000000
25%        40.000000
50%        40.000000
75%        43.000000
max        99.000000
Name: hours-per-week, dtype: float64

**capital loss**

In [504]:
df['capital-loss'].describe()

count    1311.000000
mean      104.503432
std       445.375332
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max      3770.000000
Name: capital-loss, dtype: float64

**Workclass**

In [505]:
df['workclass'].describe()
list(df['workclass'].unique())

count         1309
unique          14
top        Private
freq           819
Name: workclass, dtype: object

[' Private',
 'private',
 ' Local-gov',
 ' ?',
 ' Self-emp-not-inc',
 ' State-gov',
 ' Federal-gov',
 'self-emp-inc',
 '?',
 'self-emp-not-inc',
 ' Self-emp-inc',
 'state-gov',
 nan,
 'local-gov',
 'federal-gov']

**Vyhodnotenie problÃ©mov v dÃ¡tach**  
Nevhodna struktura dat sa ukazala pri adrese, ktora je napisana v dvoch riadkoch. Preto ju budeme musiet zmenit na jeden riadok.

Mali sme problem duplicitnych zaznamov v dataframe other. Nakolko nenastal problem, ze by malo jedno meno viacero moznych zvysnych atributov (vzdy to bol jeden atribut alebo nan), mohli sme duplicitne zaznamy spojit do jedneho.  

Formaty dat nemame vzdy jednotne. Viac krat sa nam vyskytuje v datach ? aj ??, no nikdy nie v jednom zazname oba. Preto vzhladom na zaznamy kde sa vyskytuju zamenime ? za NaN.
Nejednotnost formatov sa ukazala pri datumoch narodenia, kde datumy su napisane bud s celym rokom (1988) alebo len so skratenym (88), poradie d-m-e nieje vzdy dodrzane, niektore datumy maju aj cas.  
Dalsia nejednotnost je pri pregnant, kde su hodnoty true a false zapisane v inom formate (false - F, f, FALSE. true - T, t).

Chybajuce hodnoty sa nachadzaju pri viacerych atributoch. Bud su nevyplnene alebo zapisane ? popripade ??. BUdeme musiet vyhodnotit, pri ktorych atributoch to nevadi a naopak pri ktorych je tato informacia nevyhnutna. Zaznamy ktore nevyhnutny atribut nemaju potom vylucime.