In [91]:
import pandas as pd
import numpy as np

In [29]:
pv = 'data-set/personal_valid.csv'
ov = 'data-set/other_valid.csv'

In [30]:
dfp = pd.read_csv(pv)
dfo = pd.read_csv(ov)

Premenuje unnamed stlpec na 'ID'

In [182]:
dfp = dfp.rename(columns={'Unnamed: 0': 'ID'})
dfo = dfo.rename(columns={'Unnamed: 0': 'ID'})

# Pocet zaznamov

Zisti pocet zaznamov v personal a other

In [203]:
print(f"Personal: {len(dfp)}")
print(f"Other: {len(dfo)}")

Personal: 1311
Other: 1361

Zisti kolko mame rovnakych mien v personal a other

In [247]:
print(f"Personal: {len(dfp[dfp.duplicated(['name'], keep=False)])}")
dfo_duplicates = dfo[dfo.duplicated(['name'], keep=False)]
print(f"Other: {len(dfo_duplicates)}")

Personal: 0
Other: 99

Pri duplikatoch sa moze stat ze jeden zaznam ma hodnoty ktore druhemu chybaju

In [249]:
dfo_duplicates.loc[dfo_duplicates['name'] == dfo_duplicates.iloc[0]['name']]

,ID,name,address,race,marital-status,occupation,pregnant,education-num,relationship,skewness_glucose,...,education,fnlwgt,class,std_glucose,income,medical_info,native-country,hours-per-week,capital-loss,workclass
2,2,Jon Gerry,"2255 Hopkins Garden\r\nSouth Alexandra, MD 39636",White,Never-married,Other-service,f,900.0,Own-child,2.565507,...,HS-grad,133055.0,0.0,35.322467,<=50K,"{'mean_oxygen':'2.112876254','std_oxygen':'15....",United-States,30.0,0.0,Private
394,394,Jon Gerry,"2255 Hopkins Garden\r\nSouth Alexandra, MD 39636",NaN,NaN,NaN,f,NaN,Own-child,2.565507,...,HS-grad,133055.0,0.0,NaN,NaN,"{'mean_oxygen':'2.112876254','std_oxygen':'15....",United-States,30.0,0.0,Private

Tuto sme zistili ze zaznamy s rovnakym menom vieme spojit do jedneho, pretoze nikdy sa nestane ze v jednom stlpci maju viac ako 2 rozne hodnoty, pricom jedna z nich je vzdy None alebo su rovnake.

In [333]:
def mergeable():
    unique_names = dfo_duplicates['name'].unique()
    for name in unique_names:
        duplicates = dfo_duplicates.loc[dfo_duplicates['name'] == name]
        for col in duplicates.columns:
            if col == 'ID':
                continue
            values = duplicates[col].unique()
            if len(values) > 2:
                return False
            elif len(values) == 1:
                continue
            else:
                if pd.isnull(values[0]) or pd.isnull(values[1]):
                    continue
    return True
            
mergeable()

True

Kazdu skupinu duplikatnych zaznamov spojime do jedneho zaznamu a pridame k unikatnym zaznamom.

In [361]:
def merge(name):
    df = dfo_duplicates.loc[dfo_duplicates['name'] == name]
    return df.groupby(['name'], as_index=False).first()

dfo_unique = dfo.drop_duplicates(subset=["name"], keep=False)
merged = []

unique_names = dfo_duplicates['name'].unique()
for name in unique_names:
    merged.append(merge(name))
    
dfo_unique = dfo_unique.append(merged)

**Zistime ci novovzniknuty dataset vieme spojit s personal datasetom**

Velkost datasetov je rovnaka

In [373]:
len(dfo_unique) == len(dfp)

True

Zistime ci sa nachadzaju v novovzniknutej tabulke duplikaty

In [380]:
len(dfo_unique[dfo_unique.duplicated(['name'], keep=False)]) > 0

False

Kazde meno z personal sa nachadza v novovzniknutom datasete

In [375]:
def compare_names():
    dfp_names = list(dfp['name'])
    for name in list(dfo_unique['name']):
        if name not in dfp_names:
            return False
    return True

compare_names()

True

Spojime ho s personal

In [421]:
df = pd.merge(dfp, dfo_unique, on='name')

Pocet atributov je vacsi ako sme ocakavali to znamena ze tam mame niektore atributy viac krat

In [385]:
len(df.columns)

28

Jedna sa o ID a adresu

In [388]:
df.columns

Index(['ID_x', 'name', 'address_x', 'age', 'sex', 'date_of_birth', 'ID_y',
       'address_y', 'race', 'marital-status', 'occupation', 'pregnant',
       'education-num', 'relationship', 'skewness_glucose', 'mean_glucose',
       'capital-gain', 'kurtosis_glucose', 'education', 'fnlwgt', 'class',
       'std_glucose', 'income', 'medical_info', 'native-country',
       'hours-per-week', 'capital-loss', 'workclass'],
      dtype='object')

Zistime ci sa adresy z personal rovnaju adresam z other

In [409]:
df['address_x'].equals(df['address_y'])

True

Kedze sa rovnaju tak jedny zahodime spolu s ID z other

In [422]:
df = df.drop(columns=['address_y', 'ID_y'])
df = df.rename(columns={"ID_x": "ID", "address_x": "address"})

# Pocet atributov

In [192]:
print(f'Personal: {len(dfp.columns)}')
print(f'Other: {len(dfo.columns)}')

Personal: 6
Other: 23

Pocet unikatnych atributov v personal a other

In [425]:
len(np.setdiff1d(list(dfp), list(dfo))) + len(dfo.columns)

26

### Typy atributov

Vidime ze typy su int64, float64 a ostatne su objekty(pravdepodobne preto ze to su stringy a maju roznu dlzku). Tak isto vidime ze hodnoty v niektorych zaznamoch chybaju.

In [427]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1311 entries, 0 to 1310
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                1311 non-null   int64
 1   name              1311 non-null   object
 2   address           1311 non-null   object
 3   age               1311 non-null   int64
 4   sex               1311 non-null   object
 5   date_of_birth     1311 non-null   object
 6   race              1309 non-null   object
 7   marital-status    1226 non-null   object
 8   occupation        1311 non-null   object
 9   pregnant          1311 non-null   object
 10  education-num     1180 non-null   float64
 11  relationship      1310 non-null   object
 12  skewness_glucose  1310 non-null   float64
 13  mean_glucose      1311 non-null   float64
 14  capital-gain      1308 non-null   float64
 15  kurtosis_glucose  1311 non-null   float64
 16  education         1311 non-null   object
 17  fnlwgt            1310 non-null   float64
 18  class             1310 non-null   float64
 19  std_glucose       1310 non-null   float64
 20  income            1310 non-null   object
 21  medical_info      1310 non-null   object
 22  native-country    1311 non-null   object
 23  hours-per-week    1311 non-null   float64
 24  capital-loss      1311 non-null   float64
 25  workclass         1309 non-null   object
dtypes: float64(10), int64(2), object(14)
memory usage: 316.5+ KB

Tuto vidime ktore atributy v sebe Null hodnoty

In [452]:
df.isnull().sum()

ID                    0
name                  0
address               0
age                   0
sex                   0
date_of_birth         0
race                  2
marital-status       85
occupation            0
pregnant              0
education-num       131
relationship          1
skewness_glucose      1
mean_glucose          0
capital-gain          3
kurtosis_glucose      0
education             0
fnlwgt                1
class                 1
std_glucose           1
income                1
medical_info          1
native-country        0
hours-per-week        0
capital-loss          0
workclass             2
dtype: int64

**ID**

V stlpci ID su cisla pricom su unikatne a stupaju (cize nemame pomiesane poradie udajov)

In [435]:
(df['ID'].is_monotonic_increasing and df['ID'].is_unique)

True

In [437]:
type(df['name'][0])

str